%script
	:plain
		var $window = $(window);
		function resizeTextarea() {
			var $textarea = $('#pasteBody');
			$textarea.height( $window.height() - 160 );
			$textarea.width( $window.width() - 15 );
		};

		$(function() {
			resizeTextarea();
			// create the resize handler, but throttle it
			$window.resize( $.throttle( 250, resizeTextarea ) );
			$("#pasteBody").focus();
		});

%form{:method=>'post'}
	#pasteBodyContainer
		<textarea id="pasteBody" name="pasteBody" rows="14" cols="50"></textarea>
	%div#pasteFooter
		%input#pasteButton{:type=>"submit", :value=>"Paste"}
		%span#autoDeleteNotice Your paste will be automatically deleted in 24 hours.