.container
	%form#pasteForm{:method=>'post'}
		#toolbar.btn-toolbar
			#languagePicker.btn-group
				%input{:type=>'hidden', :name=>"language", :value=>AVAILABLE_LANGUAGES.first[0]}
				%button.btn.dropdown-toggle
					-# %i.icon-th-list
					Language:
					%span.label= AVAILABLE_LANGUAGES.first[1]
					%span.caret
				%ul.dropdown-menu
					- AVAILABLE_LANGUAGES.each_pair do |key, value|
						%li.language-option{:data=>{:value=> key}}= value
			.btn-group.cta
				%button.btn.btn-success
					%i.icon-paste
					Paste it!
		<textarea id="pasteBody" name="pasteBody" rows="14" cols="50"></textarea>
	%span#autoDeleteNotice Your paste will be automatically deleted in 24 hours.

%script{:src=>"js/jquery-1.8.3.min.js"}
%script{:src=>"js/bootstrap-custom.min.js"}
:javascript
	$(document).ready(function() {
		var $languagePicker = $("#languagePicker")
		  , $languageInput = $("input[name=language]")
		  , $languageLabel = $(".label")
		$(".dropdown-toggle", $languagePicker).dropdown()

		$(".language-option", $languagePicker).on('click', function() {
			var $this  = $(this)

			$languageInput.val($this.data('value'))
			$languageLabel.text($this.text())
		})

		$("#pasteBody")
			.on('focusin', function() { 
				$("#pasteForm").addClass("focused") 
			})
			.on('focusout', function() {
				$("#pasteForm").removeClass("focused") 
			})
			.on('keyup change', function() {
				if ($(this).val().length > 0) {
					$(".cta button").prop('disabled', false)
				}
				else {
					$(".cta button").prop('disabled', true)
				}
			})
	})
