body
{
    font-family: Arial;
	font-color: pink;
}

pre
{
    font-family: default;
}

#header
{
    background-color: #eee;
    border-bottom: 1px solid #555;
    height: 98px;
}

#logo
{
    height: 90px;
    margin: 4px 0 4px 20px;
    padding-left: 58px;
    color: #fff;
    font-size: 32px !important;
    font-weight: bold;    
    background: url("images/glue.jpg") no-repeat;
    position: absolute;
}

#dumbSlogan
{
    color: #555;
    display: block;
    font-size: 60%;
    margin: -20px 0 0 10px;
}

#homeLink
{
    line-height: 70px;
}    

#logo a
{
    text-decoration: none;
    color: #555;
}

#logo a:hover
{
    text-decoration: underline;
}

#header_right_container
{
    margin: 19px 24px 19px 0;
    float: right;
}

#ad
{
    height: 60px;
    width: 468px;
    display: block;
}

.icon
{
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

#helpIcon
{
    display: block;
    text-indent: -9999px;
    margin-top: 2px;
    background-image: url("images/icon_question_mark.jpg");
}

#main
{
    padding: 30px 30px 0 30px;
    background-color: #fff;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#pasteBodyContainer
{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    width: 100%;
}

textarea#pasteBody
{
    background-color: #f8f8f8;
    width: 98%;
    height: 98%;
    border: none;
    padding: 0 1%;
    outline: none;
    resize: none;
}

#pasteButton
{
    border: 1px solid #555;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-weight: bold;
    font-size: 130%;
    background: #f0f0f0 url(images/paste-icon-32x32.png) no-repeat;
    height: 36px;
    padding-left: 36px;
    float: right;
}

#pasteFooter
{
    margin-top: 10px;
    line-height: 36px;
    padding-left: 20px;
    font-weight: bold;
}

.notify 
{
    background-color: #ffefc6;
    width: 80%;
    margin: 0 auto 18px auto;
    padding: 6px;
}

.notifyClose
{
    color: black;
    float: right;
    margin: 0 2px 0 0;
    font-weight: bold;
    text-decoration: none;
}

.notifyContents
{
    margin-right: 24px;
}